In [1]:
import pandas as pd

In [2]:
d = dict(selector="th",
    props=[('text-align', 'center')])

# Line Of Position Input Test Data

In [3]:
lop_input = [
    # Sun Data
    ["Sun-LL", "1978/07/25 23:04:00", "56:2:N", "164:30:W", "54:5:None", "0:2:On", 9],
    ["Sun-UL", "1978/10/27 22:49:00", "10:0:S", "166:15:W", "87:20:None", "0:2:Off", 25],
    ["Sun-LL", "1978/10/25 06:48:00", "35:54:N", "74:2:E", "41:30.5:None", "0:4:Off", 10],
    ["Sun-LL", "1981/3/27 13:7:0", "37:40:N", "15:24:W", "54:41.3:None", "0:2:Off", 9],
    ["Sun-LL", "1981/3/28 7:48:0", "22:38:N", "64:17:E", "71:9.8:None", "0:2.2:On", 9],
    ["Sun-LL", "1978/10/26 0:51:0", "27:6:S", "163:16:E", "74:59.8:None", "0:1.4:Off", 9],
    ["Sun-UL", "1978/7/24 17:48:0", "28:44:S", "85:17:W", "42:51.2:None", "0:1.5:On", 9],
    ["Sun-LL", "1978/7/25 20:50:0", "44:10:N", "131:0:W", "65:22.5:None", "0:2:On", 9],
    ["Sun-LL", "1981/3/28 21:51:0", "16:40:S", "146:30:W", "69:44.2:None", "0:2.5:Off", 12],
    ["Sun-LL", "1978/10/25 10:4:0", "34:29:N", "25:0:E", "43:11.7:None", "0:1.5:Off", 14],    
    # Star Data
    ["Altair", "1978/7/26 4:51:30", "45:30:N", "126:27:W", "35:18.9:None", "0:0:Off", 12],
    ["Arcturus", "1978/7/25 3:49:3", "45:30:N", "120:58:W", "57:57.4:None", "0:1.8:On", 16],
    ["Altair", "1978/7/25 4:7:22", "44:36:N", "122:14:W", "30:35.4:None", "0:2:Off", 16],
    ["Antares", "1978/7/25 4:7:22", "44:36:N", "122:14:W", "18:54.3:None", "0:2:Off", 16],
    ["Arcturus", "1978/7/26 4:48:17", "45:30:N", "126:27:W", "50:50.9:None", "0:0:Off", 12],
    ["Regulus", "1981/3/28 3:49:5", "45:21:N", "130:3:W", "42:58.5:None", "0:1.2:Off", 9],
    ["Hamal", "1978/10/25 18:48:39", "44:5:N", "160:25:E", "19:58.3:None", "0:2.5:On", 19],
    ["Sirius", "1978/7/25 18:49:21", "45:30:S", "33:40:W", "11:5.2:None", "0:0.5:Off", 15],
    
    # Planet Data
    ["Venus", "1978/10/27 17:50:15", "44:50:S", "15:10:E", "16:12.6:None", "0:1.5:Off", 9],
    ["Jupiter", "1978/10/25 19:4:28", "44:5:N", "160:25:E", "62:51.9:None", "0:2.5:On", 19],
    ["Venus", "1978/7/25 19:5:2", "45:30:S", "33:40:W", "31:55.6:None", "0:0.5:Off", 15],

    # Moon Data
    ["Moon-UL", "1978/10/25 6:51:10", "44:50:N", "40:20:W", "42:38.1:None", "0:0:Off", 10],
    ["Moon-UL", "1978/7/26 14:49:54", "44:58:N", "122:24:W", "51:25.2:None", "0:0:Off", 16],
    ["Moon-UL", "1978/10/25 19:7:2", "45:5:N", "160:25:E", "51:42.9:None", "0:2.5:On", 19],
    ["Moon-LL", "1981/3/27 14:49:29", "45:16:N", "140:20:W", "24:49.7:None", "0:0.1:On", 10]]

df_lop_input = pd.DataFrame(lop_input, columns=["celestial_object", "utc", "dr_lat", "dr_lon", "Hs", "ic", "heightEyeFt"])

df_lop_input.style.set_properties(**{'width':'10em', 'text-align':'center'})\
        .set_table_styles([d])

In [4]:
df_lop_input.to_csv("lop_input.csv", index=False)

# Line Of Position Expected Test Data

In [5]:
lop_expected = [
    # Sun Expected
    ["359:53.3:None", "54:15.2:None", "53:32.4:None", 42.8, "T", 179.8],
    ["0:1.6:None", "87:1:None", "87:5.5:None", 4.6, "A", 180.5],
    ["359:59.5:None", "41:46.5:None", "42:6.2:None", 19.7, "A", 180],
    ["0:0.3:None", "54:55.8:None", "55:1.4:None", 5.6, "A", 180],
    ["359:59.9:None", "71:20.4:None", "70:21.6:None", 58.8, "T", 180],
    ["359:59.8:None", "75:14.1:None", "75:9.3:None", 4.8, "T", 0],
    ["0:6.5:None", "42:30.1:None", "41:26:None", 64.1, "T", 359.9],
    ["359:53.3:None", "65:32.9:None", "65:25.6:None", 7.3, "T", 179.7],
    ["0:0.6:None", "69:59.0:None", "70:6.7:None", 7.6, "A", 0],
    ["359:57.8:None", "43:24.7:None", "43:28.4:None", 3.7, "A", 180],   
    
    # Star Expected
    ["312:31.1:None", "35:14.1:None", "35:16.1:None", 2, "A", 116.9],
    ["25:7.9:None", "57:51.1:None", "56:34.6:None", 76.5, "T", 226.7],
    ["304:41.2:None", "30:31.8:None", "30:31.9:None", 0.1, "A", 109.4],
    ["355:6:None", "18:49.5:None", "18:52.5:None", 3, "A", 175.4],
    ["35:29:None", "50:46.7:None", "50:45.0:None", 1.7, "T", 240],
    ["320:51.4:None", "42:55.7:None", "42:58.3:None", 2.6, "A", 122.5],
    ["84:52.8:None", "19:48.9:None", "19:33.4:None", 15.5, "T", 284],
    ["90:44.8:None", "10:57:None", "11:18.4:None", 21.3, "A", 257.6],
    
    # Planet Expected
    ["91:46.2:None", "16:8.3:None", "15:37.1:None", 31.2, "T", 251.2],
    ["350:18.1:None", "62:44.7:None", "63:23.3:None", 38.6, "A", 159.1],
    ["28:49.1:None", "31:50.8:None", "31:58.9:None", 8.0, "A", 325.6],

    # Moon Expected
    ["319:7.6:None", "42:59.3:None", "42:55.7:None", 3.5, "T", 119.4],
    ["15:40.8:None", "51:40.5:None", "51:23:None", 17.6, "T", 205.3],
    ["338:17.1:None", "51:54.5:None", "51:41.3:None", 13.1, "T", 144.2],
    ["3:58.5:None", "25:49.2:None", "24:59.8:None", 49.4, "T", 184.1]
]

df_lop_expected = pd.DataFrame(lop_expected, columns=["LHA", "Ho", "Hc", "a", "ta", "Zn"])

df_lop_expected.style.set_properties(**{'width':'10em', 'text-align':'center'})\
        .set_table_styles([d])

In [6]:
df_lop_expected.to_csv("lop_expected.csv", index=False)

# Compute Fix Test Data

In [7]:
fix_input = [
    ["35:0:N", "145:18:W", 20, "T", "340:0:None", "35:0:N", "144:50:W", 30, "A", "240:0:None"],
    ["35:0:N", "146:0:W", 37, "T", "162:0:None", "35:0:N", "146:17:W", 21, "A", "60:0:None"],
    ["35:0:N", "145:0:W", 10, "T", "20:0:None", "35:0:N", "145:20:W", 19, "T", "290:0:None"],
    ["35:0:N", "146:12:W", 25, "T", "140:0:None", "35:0:N", "146:25:W", 6, "A", "65:0:None"],
    ["35:0:N", "146:4:W", 29, "A", "173:0:None", "25:0:N", "146:8:W", 34, "A", "92:0:None"]
]

df_fix_input = pd.DataFrame(fix_input, columns=["dr_lat_1", "dr_lon_1", "a_1", "ta_1", "Zn_1", "dr_lat_2", "dr_lon_2", "a_2", "ta_2", "Zn_2"])

df_fix_input.style.set_properties(**{'width':'10em', 'text-align':'center'})\
        .set_table_styles([d])

In [8]:
df_fix_input.to_csv("fix_input.csv", index=False)